@import "tailwindcss";

/* Supports weights 100-900 */
@import '@fontsource-variable/inter-tight';

@theme {

  --color-primary: #97ce4c;
  --color-secondary: #00b5cc;
  --color-bg-primary: #00010a;
  --color-bg-card: #1a1d29;
  --color-text-primary: #e8f5e9;
  --color-text-dark: #282828;
  --color-text-secondary: #b0bec5;
  --color-text-muted: #78909c;
  --color-status-alive: #4caf50;
  --color-status-dead: #f44336;
  --color-status-unknown: #9e9e9e;
  --color-gradient-select: linear-gradient(to bottom, rgba(26, 29, 41, 0.95), rgba(26, 29, 41, 1));
  --color-option-hover-bg: rgba(151, 206, 76, 0.1);
  --color-option-selected-bg: rgba(151, 206, 76, 0.3);
  --shadow-md-gray: 0 0 18px rgb(200 200 200 / .1);
  --shadow-md-primary: 0 0 20px #97ce4c30;
  --shadow-portal: 0 0 20px rgb(151 206 76 / 0.3);
  --shadow-inset-select: inset 0 1px 3px rgba(0, 0, 0, 0.3);


  --font-inter: 'Inter Tight Variable', sans-serif;
}