<div class="w-full">
  <form
    id="search-form"
    class="w-full hover:shadow-md-gray transition-shadow duration-200 ease-in"
  >
    <input
      class="border-2 border-primary/20 p-2 rounded-lg bg-bg-input text-white w-full focus:outline-none focus:border-primary transition-all duration-200 ease-in bg-bg-card/50 placeholder:text-text-secondary/50 placeholder:text-xs"
      type="text"
      name="search"
      id="search-input"
      placeholder="Buscar personaje por nombre..."
      autocomplete="off"
    />
  </form>
</div>
<style>
  form:has(input:focus) {
    box-shadow: var(--shadow-md-gray);
  }
  form:has(input:not(:placeholder-shown)) {
    box-shadow: var(--shadow-md-gray);
  }

  input:not(:placeholder-shown) {
    border-color: var(--color-primary);
  }
</style>
