<header
  class="w-full p-2 py-3 max-w-7xl mx-auto flex items-center flex-col gap-1"
>
  <h1 class="font-semibold text-primary leading-tight">
    🛸 Rick and Morty Explorer
  </h1>
  <p class="text-text-secondary">Explora el multiverso de Rick and Morty</p>
</header>

<style>
  h1 {
    font-size: clamp(2rem, 5vw, 4rem);
  }
</style>
