---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";

interface Props {
	title?: string;
	description?: string;
}
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-design">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		<meta name="description" content={description} />
		<ClientRouter />
	</head>
	<body class="bg-bg-primary text-text-primary font-inter relative">
		<slot />
	</body>
</html>
